@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap");
@import "modal.css";
@import "item.css";

body {
  background: teal;
  color: rgba(255, 255, 255, 0.788);
  text-align: center;
  font-family: "Dongle", sans-serif;
}
hr {
  border-color: teal;
}

.next {
  color: white;
  text-transform: uppercase;
  font-size: 40px;
}

.btn-add {
  font-size: 40px;
  color: #333;
  background: teal;
  text-transform: uppercase;
  border-radius: 5px;
  border: 1px solid #333;
  position: fixed;
  top: 2%;
  left: 1%;
}

.btn-add-project {
  color: white;
  background: teal;
  font-size: 25px;
}
.total {
  position: fixed;
  top: 50px;
  left: 2%;
  font-size: 50px;
  color: teal;
}

a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 128, 255);
}

/* debug */

/* * {outline: 1px solid red;} */
